* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #FFDD79;
    display: flex;
    align-items: center;
    border-width: 0.3em;
}

.menu{
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 3em 2em;
}

.button-menu{
    display: flex;
    gap: 1em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: black;
    background-image: url("background.jpg");
    border-style: solid;
    border-width: 0.3em;
    border-color: #FFC754;
    border-radius: 2em;
    padding: 4em 3em;
    box-shadow: 0px 0px 5px 1px #888888;;
}

.title{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

.text{
    font-size: 1.5em;
    text-align: center;
}

.timer{
    font-size: 6em;
    font-weight: 500;
}

.button-wrapper{
    display: flex;
    gap: 1em;
}

button{
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #ED7614;
    border-width: 0.1em;
    background-color: #FFC754;
    color: #ED7614;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}
